@font-face{
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    --primary-color: #A41045;
    --secondary-color: #892066;
    --secondary-pink: #E52996;
    --secondary-blue: #18457C;
    --primary-black: #0A0C10;
    --Neutral-Colors-White: #FFF;
    --gray : #424345;
    --white : #FFFFFF;
    --Color: #161616;

    --scroll-bar-color: #c5cadf;
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #ECECEC;
    max-width: 1750px;
}

html{
    scroll-behavior: smooth;
}

button{
    border: none;
    cursor: pointer;
}

.logo{
    height: auto;
    display: flex;
}

.logo p{
    color: #161616;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
    text-wrap: nowrap;
    margin-top: 15px;
}

ul{
    display: flex;
    align-items: center;
    gap: 48px;
    text-wrap: nowrap;
}

header li a{
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    transition: 0.5s;
}

header li a:hover{
    color: #161616;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    transition: 0.5s ease;
}

.nav-links button{
    display: none;
}

.nav-btn{
    display: flex;
    gap: 10px;
}

.signUp_btn{
    width: 100px;
    display: flex;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    border-radius: 8px;
    background:  #1265fb;
    color: #ffffff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10)
}

.signUp_btn:hover{
    background: #ffffff;
    color: #1265fb;
    transition: 0.5s ease-in;

}

.logIn_btn{
    width: 100px;
    display: flex;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    border-radius: 8px;
    background: #6eab36;
    color: #ffffff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10)
}

.logIn_btn:hover{
    background: #ffffff;
    color: #6eab36;
    transition: 0.5s ease-in;
    
}


header {
    margin: 0 auto; /* Centers the header */
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 85%; /* Adjust width to control size */
    max-width: 1700px; /* Optional max width for larger screens */
    height: 65px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(8px);
    margin-top: 2vh;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(8px);
    z-index: -1;
}
header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(255, 255, 255, .4), transparent);
    transition: .5s;
}

header:hover::after{
    left:150%
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 10; /* Ensure it stays above the menu */
}
  
.menu-toggle .bar {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
}
.menu-toggle.is-active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
  
.menu-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
}
  
.menu-toggle.is-active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


section {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 6rem;
    max-width: 1250px;
    width: 100%; /* Adjust as needed for content width */
}

/*------------- Home Section -----------*/
header li .active{
    font-weight: bold;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-centerr{
    align-items: center;
    justify-content: center;
}

.section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.home{
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    padding: 6rem 6rem;
    align-items: center;
    justify-content: center;
}

.home .home1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.div1 h1{
    color: #333;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 30px;
}

.div1 h1 span{
    color: #146AFB;
}

.div1 p{
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 60px;
}

.appointment{
    width: 200px;
    height: auto;
    padding: 13px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #146AFB;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.appointment:hover{
    background: #ffffff;
    color: var(--Color, #161616);
    transition: 0.5s ease-in;
}

.home1 .image-container{
    position: relative;
}

.img-container{
    width: 350px;
    height: 338px;
    border-top-left-radius: 600px;
    border-top-right-radius: 1000px;
    border-bottom-left-radius: 480px;
    border-bottom-right-radius: 280px;
    background: linear-gradient(180deg, #146AFB 0%, rgba(0, 126, 133, 0.49) 100%);
    margin-top: 60px;
}

.image-container img{
    width: 370px;
    height: 398px;
    position: absolute;
    top: 0;
}

.home2{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 16px;
    background: #ffffff;
    padding: 3em;
}

.home2-div{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 26px;
}

.home2 h1{
    color: #000;
    text-align: left;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */  
}

#name, #speciality{
    width: 296px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #146AFB;
    background: #FFF;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 230% */
    padding-left: 20px;
    margin: 0 24px 24px 0;
}

.home2-div p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 230% */
    padding-left: 55px;
    padding-right: 24px;
}

.home2-div img{
    width: 63px;
    height: 32px;
    flex-shrink: 0;
    margin-top: 7px;
    margin-right: 99px;
    cursor: pointer;
}

.search{
    width: 150px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #146AFB;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px; /* 191.667% */
}

.search:hover{
    background: #ececec;
    color:#1265fb;
    
    transition: 0.5s ease-in;
}

.home3{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home3 h1{
    color: #146AFB;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
    padding-top: 130.5px;
    padding-bottom: 67px;
}

.home3-div1{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 152.37px;
}

.home3-div1 h2{
    color: #146AFB;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 113.636% */
}

.home3-div1 span{
    color: rgba(20, 106, 251, 0.50);
}

.home3-div1 p{
    color: #333;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    padding-bottom: 1em;
}

.home3rd .home3-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 2em;
}

.home3-left h2{
    color: #146AFB;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
}

.home3-left p{
    padding-top: 16px;
    color: #555;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.home3-left-btn{
    display: flex;
    padding-top: 48px;
    justify-content: center;
    align-items: center;
    gap: 3em;
}


.get-btn{
    display: flex;
    padding: 24px 36px;
    border-radius: 40px;
    background: #146AFB;
    color: var(--Neutral-Colors-White, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 100% */
}

.get-btn:hover{
    background: #ffffff;
    color: #146AFB;
    transition: 0.5s ease-in;
}

.talk-btn{
    display: flex;
    padding: 24px 36px;
    text-align: center;
    border-radius: 40px;
    background: #6eab36;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px; /* 100% */
}

.talk-btn:hover{
    background: #ffffff;
    color: #6eab36;
    transition: 0.5s ease-in;
}

.home3-right{
    position: relative;
}

.home3-right img {
    max-width: 100%;
    min-width: 450px;
    max-height: 450px;
    border-radius: 10px;
}

.services {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.services h2 {
    color: #007bff;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 3em;
}

.services p {
    color: #666;
    font-size: 1em;
    margin-bottom: 2em;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 3em;
}

.card-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 3em;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card2 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s;
}

.card2:hover {
    transform: translateY(-5px);
}

.card3 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s;
}

.card3:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 10em;
    border-radius: 8px;
    margin-bottom: 1em;
}

.card h3 {
    font-size: 1.2em;
    color: #007bff;
    margin-bottom: 0.5em;
}

.card p {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 1em;
}

.card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.card a:hover {
    text-decoration: underline;
}

.card2 img {
    width: 100%;
    height: 14em;
    border-radius: 100%;
    margin-bottom: 0;
}

.card2 h2{
    font-size: 1.4em;
    color: #007bff;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-align: center;
}

.card2 h3{
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-align: center;
}

.card2 p{
    text-align: center;
}

.card3 h2{
    font-size: 1.7em;
    color: #007bff;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-align: left;
}

.card3 h{
    padding-bottom: 1.2em;
}

.newsletter{
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    align-items: center;
    justify-content: center;
}

.newsletter h1{  
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #000;
}

.newsletter input{
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    width: 25em;
}

.newsletter button{
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    padding: 0.8em;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.newsletter button:hover{
    background-color: white;
    transition: 0.5s ease-in;
    color: #007bff;
    border: 2px solid #007bff;
}

/*---------- Footer Section ----------*/
footer {
    width: 100%;
    max-width: 1700px; 
}

.footer-container {   
    background-color: #146AFB;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
    padding-left: 100px;
    padding-right: 100px;
}

.footer-div1{
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s;
}

.footer-logo{
    display: flex;
}

.footer-logo img{
    width: 55px;
    height: 50px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.58);
}

.footer-logo h5{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.34px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.copyright p{
    padding-left: 10px;   
}

.footer-div1 p{
    color: #FFF;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.footer-div1 h6{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 32px;
}

.footer-div1 a{
    color: #FFF;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    flex-direction: column;
}